<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>client_key</key>
	<string>CHtjmszw0h5v0g9DTs8VZycmUZjIHagacGG9K6jT</string>
	<key>app_id</key>
	<string>26brIqFKBbyrU44Pd1OxLOOrvWnueYxPh4qgSSWn</string>
	<key>geoapify_key</key>
	<string>aad3a6adc8774685828dba9b8b6832aa</string>
	<key>app_id_1</key>
	<string>nJyHXnhpOfymI931A4wfFOf3VA8cNr2PNJx4CG3F</string>
	<key>client_key_1</key>
	<string>4eqLyQjncIB2wDq1IBdH3o0Bh4s14kvQI9vOfFDO</string>
</dict>
</plist>
