<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>client_key</key>
	<string>erqFaniRhRPkkLswEX7wrwrbiM8LvBi9ZAjjBaAu</string>
	<key>app_id</key>
	<string>bJRz0NB4WGfqSgVeeytR0PQXy5tws2Rkp1g9yy7F</string>
	<key>geoapify_key</key>
	<string>aad3a6adc8774685828dba9b8b6832aa</string>
</dict>
</plist>
