<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_id</key>
	<string>nJyHXnhpOfymI931A4wfFOf3VA8cNr2PNJx4CG3F</string>
	<key>client_key</key>
	<string>4eqLyQjncIB2wDq1IBdH3o0Bh4s14kvQI9vOfFDO</string>
</dict>
</plist>
